html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    width: 1280px;
    height: 1166px;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.header {
    position: absolute;
    width: 1260px;
    height: 461px;
    top: 10px;
    left: 15px;
    background-color: #8F9BC7;
}

.header-left {
    position: absolute;
    width: 338px;
    height: 337px;
    left: 126px;
    top: 72px;
    background-image: url('../elon\ musk.jpg');
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-size: 100%;
    border: 5px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 168.5px;
}

.header-right {
    font-family: 'Roboto';
    float: right;
    padding-left: 655px;
    padding-right: 255px;
    padding-top: 78px;
}

.header-right h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    color: #000000;
    margin-bottom: -20px;
}

.header-right p {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    position: absolute;
    width: 772px;
    height: 560px;
    left: 15px;
    top: 491px;
    background: #ffffff;
}

.description-left {
    padding-left: 15px;
    padding-right: 20px;
}

.description-left h2 {
    padding-right: 356px;
    font-size: 36px;
    line-height: 42px;
    text-decoration: underline;
}

.description-right {
    position: absolute;
    width: 454px;
    height: 560px;
    left: 807px;
    top: 491px;
    background: #8F9BC7;
    margin-top: -492px;
}

.description-right1 h3 {
    padding-left: 15px;
    width: 87px;
    height: 42px;
    left: 822px;
    top: 506px;
    padding-right: 356px;
    font-size: 36px;
    line-height: 42px;
    text-decoration: underline;
    margin-bottom: 5px;
}

.description-right2 h4 {
    width: 187px;
    height: 42px;
    left: 822px;
    top: 753px;
    font-size: 36px;
    line-height: 42px;
    text-decoration: underline;
    padding-left: 15px;
    margin-bottom: 10px;
}

.description-right2 img {
    display: block;
    width: 44px;
    height: 44px;
    padding-left: 30px;
}

.text {
    font-size: 240x;
    line-height: 28px;
    margin-top: -183px;
    padding-left: 90px;
}

.footer {
    font-family: 'Roboto';
    position: absolute;
    width: 1260px;
    height: 60px;
    left: 15px;
    top: 1070px;
    background: #8F9BC7;
}

.footer h5 {
    display: block;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: white;
}